@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-- ajustes bs --*/
.row{
    --bs-gutter-x: 0rem;
}
/*--- navbar ---*/
.navbar{
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.logotipo{
    font-size: 28px;
}
/*--- footer ---*/
.footerTexto{
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
}
.footer a{
    text-decoration: none;
}
.footer a i{
    padding: 0px 20px;
    margin: 1rem 0 0 2rem;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
.datosFooter{
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1rem;
    margin: 0 2rem;
    font-weight: 600;
}
/*------ INDEX ------ */
/*--- carousel ---*/
.carousel-inner img{
    height: 100%;
    width: 100%;
}
.carouselIndex{
    width: 60%;
    height:auto;
    margin: 1rem 2rem 2rem 3rem;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.384);
}
.carousel-indicators [data-bs-target]{
    border-bottom: 10px solid #198754;
}
/*--- info principal ---*/
.principal h1{
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
/*--- banner ----*/
.textoBanner h2, h4{
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.banner{
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.384)
}
.containerBanner h4{
    margin: 1rem;
}
/*--- boton contactanos ---*/
.btn-principal {
    padding: 1.3em 2em;
    margin-bottom: 40px;
    border: none;
    border-radius: 45px;
    background-color: #0558f2;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    }
.btn-principal.btn-principal a {
    color: #fff;
    text-decoration: none;
}
.btn-principal.btn-principal:hover {
    background-color: #0447c2;
    transform: translateY(7px);
}
/*------ FIN INDEX ------ */
/*------ NOSOTROS ------ */
#mainInfo h2{
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
/*---carousel---*/
.carouselNosotros{
    width: 40%;
    height: auto;
    margin: 1rem 0rem 2rem 30%;
    
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.384);
}
/*--- google maps ---*/
.mapsNosotros h3{
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin: 0rem;
}
.mapsNosotros iframe{
    width: 40%;
    height: 300px;
    margin: 0rem 0 2rem 30%;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.384);
    border-radius: 5px;
}
/*------ FIN NOSOTROS ------ */
/*------ PRODUCTOS ------*/
/*--- carta de productos ----*/
.cardProductos{
    width: 80%;
    height: auto;
    margin: 1rem 0 0 10%;
}
.card-img-top{
    margin: 0 0 0 1rem;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.384);
}
/*-boton de contacto-*/
.botonContacto__productos{
    margin: 1rem;
}
/*------ testimonial review -----*/
.testimonial {
    width: 100%;
    height: auto;
    margin: 1rem auto;
    background-color: #ffc107;
}
.testimonial h2 {
    margin: 1rem auto;
}
.testimonial .carta, .testimonial .map, .testimonial .formulario, .testimonial .title h1, .title .testimonial h1 {
    max-width: 1000px;
}
.carta, .title h1, .formulario, .map {
    background: #FFF;
    border: 1px solid rgba(0, 0, 255, 0.2);
    transition: all 0.2s;
    margin: 0 0 0 1rem;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.384);
}
.testimonial .carta h5, .testimonial .map h5, .testimonial .formulario h5, .testimonial .title h1 h5, .title .testimonial h1 h5 {
    margin-top: 1rem;
}
.testimonial .carta p, .testimonial .map p, .testimonial .formulario p, .testimonial .title h1 p, .title .testimonial h1 p {
    padding: 0.5rem;
}
.testimonial .avatar img {
    margin-top: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px #198754;
}
/*------ FIN PRODUCTOS ------*/
/*------ FAQs ------ */
.tituloFaqs{
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
}
.tituloFaqs img{
    width: 45%;
    margin:0 0 0 28%;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.384);
}
/*--- accordion ---*/
.accordionfaqs{
    width: 60%;
    height: auto;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.384);
    margin: 2rem 0 2rem 20%;
}
/*------ FIN FAQs ------ */
/*------ CONTACTO ------*/
.infoContacto h2{
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin: 1rem;
}
/*--- formulario ---*/
.contenedorFormulario{
    width: 35%;
    height: auto;
    margin: 2rem 33% 2rem;
}
/*------ FIN CONTACTO ------*/