/* Error: expected more input.
 *     ,
 * 145 | /*------------------------------------------ FIN NOSOTROS --------------------------------------- /*
 *     |                                                                                                     ^
 *     '
 *   sass\_nosotros.scss 145:101  @import
 *   sass\styles.scss 3:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected more input.\a     \2577 \a 145 \2502  /*------------------------------------------ FIN NOSOTROS --------------------------------------- /*\a     \2502                                                                                                      ^\a     \2575 \a   sass\\_nosotros.scss 145:101  @import\a   sass\\styles.scss 3:9         root stylesheet";
}
