/*--- GRIDS CONTACTO ---- */
.contenedorContacto{
    min-height: 100vh;
    width: auto;

    display: grid;
}
/*- columnas y filas CONTACTO -*/
.headerContacto{
    grid-column: 1/3;
    grid-row: 1/2;
}
.formularioContacto{
    grid-column: 1/3;
    grid-row: 2/3;
}
.footerContacto{
    grid-column: 1/3;
    grid-row: 3/4;
}
/*-- FIN GRIDS CONTACTO -- */
/*------------------------------------------ INICIO CONTACTO --------------------------------------- /*
/*--------- Formulario Contacto --------- */
#formularioContacto{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
    background-color: transparent;
}
#Contacto{
    height: 100vh;
    width: auto;
    margin: 15px 0 15px;

    text-align: center;
    font-family: $font1;
    font-size: 24px;
    font-weight: bold;
    color: $color1;
    h1{
        font-size: 32px;
    }
}
fieldset{
    border-color: rgba(255, 255, 255, 0);
}
.form{
    width: 200px;
    padding: 10px;

    flex: 1;
    text-align: center;
    font-family: $font1;
    font-size: 16px;
    font-weight: bold;
    color: $color1;
}
.form__input{
    width: auto;
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-bottom: 3px solid rgb(11, 94, 38);
    background: rgb(11, 94, 38);
    font-family: $font1;
    font-weight: bold;
}
.form textarea{
    height: 100px;
}
/*----------- footer CONTACTO ---------*/
.footerContacto{
    text-align: center;
    font-size: 16px;
    font-family: $font1;
    font-style: normal;
    font-weight: 300;
    color: $color1;
    i{ /*------------ iframe redes sociales -----------*/
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 30px;
        text-align: center;
        font-size: 30px;
        color: $color1;
        letter-spacing: 40px;
    }
}
.footerContacto, a, i{
    .fa-facebook-square{
        color: #1877f2;
    }
    .fa-instagram-square{
        color: #c32aa3;
    }
    .fa-whatsapp-square{
        color: #07943b;
    }
}
/*-------------- datos del servicio -------------*/
.footerdatosContacto{
    margin-top: 5px;
    text-align: left;
    font-style: italic;
    font-size: 16px;
}
/*--------------- derechos de copyright ------------*/
.footerderechosContacto{
    font-size: 12px;
}
/*----------- FIN footer CONTACTO ---------*/