/*--- GRIDS Faqs ---- */
.contenedorFaqs{
    min-height: 100vh;
    width: auto;

    display: grid;
}
/*- columnas y filas Faqs -*/
.headerFaqs{
    grid-column: 1/2;
    grid-row: 1/2;
}
.titleFaqs{
    grid-column: 1/2;
    grid-row: 2/3;
}
.imgFaq{
    grid-column: 1/2;
    grid-row: 3/4;
}
.accordionFaqs{
    grid-column: 1/2;
    grid-row: 4/5;
}
.textoFaqs{
    grid-column: 1/2;
    grid-row: 5/6;
}
.footerFaqs{
    grid-column: 1/2;
    grid-row: 6/7;
}
/*-- FIN GRIDS Faqs -- */
/*--------- header Faqs ---------*/
.headerFaqs h1{
    float: left;
    margin-top: 1rem;
    margin-left: 10px;
    font-size: 40px;
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}
.headerFaqs a{
    text-decoration:none;
}
.headerFaqs a:hover{
    color: white;
}
.headerFaqs a h1:hover{
    color: white;
}
/*------- nav Faqs ----------*/
.navFaqs{
    margin-left: 75%;
    margin-top: 0rem;
}
.navFaqs li{
    list-style: none;
}
.navFaqs li a{
    line-height: 1.3rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
/*------- FIN Faqs ----------*/
/*--------- FIN head Faqs ---------*/
.titleFaqs{
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.imgFaqs{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    img{
        width: 250px;
        height: 200px;
        margin: 10px 0 20px;
    }
}
/*accordion*/
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion-wrapper {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    width: 200px;
    margin:0 auto;
}
.accordion {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    background: rgba(4,57,94,.8);
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.accordion-label:hover {
    background: rgba(4,57,94,1);
}
.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color: rgba(4,57,94,1);
    background: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content p{
    margin: 0;
    color: rgba(4,57,94,.7);
    font-size: 18px;
}
input:checked + .accordion-label {
    background: rgba(4,57,94,1);
}
input:checked + .accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px;
}
/*fin accordion*/
.textoFaqs{
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    h3{
        text-align: center;
    }
}
button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    height: 60px;
    width: 210px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    a{
        text-decoration: none;
    }
}
button span {
    color: #164ca7;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}
button:hover {
    animation: rotate 0.7s ease-in-out both;
}
button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}
/*-------------- footer FAQS ---------------------*/
.footerFaqs{
    text-align: center;
    font-size: 16px;
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: white;
}
/*- iframe redes sociales -*/
.footerFaqs i{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    font-size: 30px;
    color: white;
    letter-spacing: 40px;
}
/*- datos del servicio -*/
.footerdatosFaqs{
    margin-top: 5px;
    text-align: left;
    font-style: italic;
    font-size: 16px;
}
/*- derechos de copyright -*/
.footerderechosFaqs{
    font-size: 12px;
}
/*-------------- FIN footer FAQS ---------------------*/
