/*--- GRIDS INDEX ---- */
.contenedorIndex{
    min-height: 100vh;
    width: auto;

    display: grid;
}
/*- columnas y filas INDEX -*/
.headerIndex{
    grid-column: 1/5;
    grid-row: 1/2;
}
.mainInfohome{
    grid-column: 1/5;
    grid-row: 2/3;
}
.footerIndex{
    grid-column: 1/5;
    grid-row: 3/4;
}
/*--FIN GRIDS INDEX--*/
/*------------------------------------------ INICIO INDEX --------------------------------------- /* 
/*----------- infoprincipal INDEX -------------*/
.mainInfohome{
    h1, h2, h3{
        margin: 20px 0 10px 0;
        padding: 20px;
        text-align: center;
        font-family: $font1;
        font-weight: bolder;
    }
    .torta1, .torta2, .torta3{
        height: 250px;
        width: 240px;
        outline: 7px solid $color5;
        margin: 10px 50px;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
    }
    p{
        margin: 25px;

        text-align: center;
        font-weight: bolder;
        font-size: 22px;
        font-family: $font1;
        font-style: italic;
    }
    ul{
        margin: 10px 15px;
        list-style-type: none;
        font-size: 20px;
        font-weight: 500;
        line-height: 2rem;
        font-family: $font1;
        font-style: italic;
    }
}
/*-------------- footer INDEX ---------------------*/
.footerIndex{
    text-align: center;
    font-size: 16px;
    font-family: $font1;
    font-style: normal;
    font-weight: 300;
    color: $color1;
    i{ /*- iframe redes sociales -*/
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 30px;
        font-size: 30px;
        color: $color1;
        letter-spacing: 40px;
    }
}
.footerIndex, a, i{
    .fa-facebook-square{
        color: #1877f2;
    }
    .fa-instagram-square{
        color: #c32aa3;
    }
    .fa-whatsapp-square{
        color: #07943b;
    }
}
/*- datos del servicio -*/
.footerdatosIndex{
    margin-top: 5px;
    text-align: left;
    font-style: italic;
    font-size: 16px;
}
/*- derechos de copyright -*/
.footerderechosIndex{
    font-size: 12px;
}
/*-------------- FIN footer INDEX ---------------------*/