/*--- GRIDS INDEX ---- */
.contenedorIndex{
    min-height: 100vh;
    width: auto;

    display: grid;
}
/*- columnas y filas INDEX -*/
.headerIndex{
    grid-column: 1/5;
    grid-row: 1/2;
}
.mainInfohome{
    grid-column: 1/3;
    grid-row: 2/3;
}
.sidebarGaleriahome{
    grid-column: 3/5;
    grid-row: 2/3;
}
.footerIndex{
    grid-column: 1/5;
    grid-row: 3/4;
}
/*--FIN GRIDS INDEX--*/
/*------------------------------------------ INICIO INDEX --------------------------------------- /* 

/*--------- header INDEX ---------*/
.headerIndex h1{
    float: left;
    margin-top: 1rem;
    margin-left: 10px;
    font-size: 40px;
    font-family: $font1;
    color: rgb(0, 0, 0);
}
.headerIndex a{
    text-decoration:none;
}
.headerIndex a:hover{
    color: white;
}
.headerIndex a h1:hover{
    color: white;
}
/*------- nav INDEX ----------*/
.navIndex{
    margin-left: 75%;
    margin-top: 0rem;
}
.navIndex li{
    list-style: none;
}
.navIndex li a{
    line-height: 1.3rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    font-family: $font1;
    color: black;
}
/*------- FIN nav INDEX ----------*/

/*--------- FIN header INDEX ---------*/

/*----------- infoprincipal INDEX -------------*/
.tituloInfoPrincipal{
    margin-left: 10px;
    font-family: $font1;
    text-align: left;
    font-style: italic;
    font-weight: bolder;
    font-size: 22px;
}
.listaInfoPrincipal{
    margin-top: 10px;
    margin-left: 15px;

    list-style-type: none;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 2rem;
}
.sidebarGaleriahome{
    display: flex;
    flex-flow: column;
    justify-content: none;
}
/*-------------- galeria INDEX ------------ */
.torta1, .torta2, .torta3{
    height: 130px;
    width: 120px;
    border: 7px solid #db392abd; /* CAMBIAR COLOR */
    margin-top: 10px;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
}

/*-------------- footer INDEX ---------------------*/
.footerIndex{
    text-align: center;
    font-size: 16px;
    font-family: $font1;
    font-style: normal;
    font-weight: 300;
    color: white;
}
/*- iframe redes sociales -*/
.footerIndex i{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    font-size: 30px;
    color: white;
    letter-spacing: 40px;
}
/*- datos del servicio -*/
.footerdatosIndex{
    margin-top: 5px;
    text-align: left;
    font-style: italic;
    font-size: 16px;
}
/*- derechos de copyright -*/
.footerderechosIndex{
    font-size: 12px;
}
/*-------------- FIN footer INDEX ---------------------*/