/*--- GRIDS INDEX ---- */
.contenedorIndex{
    min-height: 100vh;
    width: auto;

    display: grid;
}
/*- columnas y filas INDEX -*/
.headerIndex{
    grid-column: 1/5;
    grid-row: 1/2;
}
.mainInfohome{
    grid-column: 1/3;
    grid-row: 2/3;
}
.sidebarGaleriahome{
    grid-column: 3/5;
    grid-row: 2/3;
}
.footerIndex{
    grid-column: 1/5;
    grid-row: 3/4;
}
/*--FIN GRIDS INDEX--*/
/*------------------------------------------ INICIO INDEX --------------------------------------- /* 
/*--------- header INDEX ---------*/
.headerIndex{
    background-color: #ddd01c;
    h1{
        float: left;
        margin-top: 1rem;
        margin-left: 10px;
        font-size: 40px;
        font-family: $font1;
        color: $color1;
    }
}
.headerIndex a{
    text-decoration:none;
}
.headerIndex a:hover{
    color: $color2;
}
.headerIndex a h1:hover{
    color: $color2;
}
/*------- nav INDEX ----------*/
.navIndex{
    margin-left: 75%;
    margin-top: 0rem;
    li{
        list-style: none;
    }
}
.navIndex li a{
    line-height: 1.3rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    font-family: $font1;
    color: $color1;
}
/*------- FIN nav INDEX ----------*/
/*--------- FIN header INDEX ---------*/
/*----------- infoprincipal INDEX -------------*/
.tituloInfoPrincipal{
    margin-left: 10px;
    font-family: $font1;
    text-align: left;
    font-style: italic;
    font-weight: bolder;
    font-size: 22px;
}
.listaInfoPrincipal{
    margin-top: 10px;
    margin-left: 15px;

    list-style-type: none;
    font-size: 20px;
    font-family: $font1;
    font-style: italic;
    font-weight: 500;
    line-height: 2rem;
}
.sidebarGaleriahome{
    display: flex;
    flex-flow: column;
    justify-content: none;
}
/*-------------- galeria INDEX ------------ */
.torta1, .torta2, .torta3{
    height: 130px;
    width: 120px;
    outline: 7px solid $color5;
    margin-top: 10px;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
/*-------------- footer INDEX ---------------------*/
.footerIndex{
    text-align: center;
    font-size: 16px;
    font-family: $font1;
    font-style: normal;
    font-weight: 300;
    color: $color1;
    i{ /*- iframe redes sociales -*/
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 30px;
        font-size: 30px;
        color: $color1;
        letter-spacing: 40px;
    }
}
.footerIndex, a, i{
    .fa-facebook-square{
        color: #1877f2;
    }
    .fa-instagram-square{
        color: #c32aa3;
    }
    .fa-whatsapp-square{
        color: #07943b;
    }
}
/*- datos del servicio -*/
.footerdatosIndex{
    margin-top: 5px;
    text-align: left;
    font-style: italic;
    font-size: 16px;
}
/*- derechos de copyright -*/
.footerderechosIndex{
    font-size: 12px;
}
/*-------------- FIN footer INDEX ---------------------*/