/*--- navbar ---*/
.container-fluid{
    .nav-link{
        font-family: $font1;
        font-weight: 900;
        color: $color1;
    }
    .navbar-brand{
        font-size: 1.5rem;
        padding: 0 20px 5px ;
        background-color: rgb(218, 197, 10);
        border-radius: 45%;
        @extend .nav-link;
    }
    button:hover span {
        -webkit-animation: 0;
        animation: none;
    }
}
/*-------- media 480px ------------*/
@media only screen and (min-width:480px){
    .container-fluid{
        .nav-link{
            margin: 5px 5px 0px 5px;
            font-size: 1.5rem;
        } 
    }
}
/*-------- media 600px ------------*/
@media only screen and (min-width:600px){
    .container-fluid{
        .nav-link{
            font-size: 1.2rem;
        } 
    }
}
/*------------------------------------- media 768px -----------------------*/
@media only screen and (min-width:768px) and (max-width:1023px){ /* RESOLUCION 768px x 1024px */
    .container-fluid{
        .nav-link{
            font-size: 2.5rem;
        }
    }
}
/*------------------------------------- media 1024px -----------------------*/
@media only screen and (min-width:1024px){
    .container-fluid{
        .navbar-brand{
            font-size: 2.7rem;
        }
        .nav-link{
            font-size: 1.5rem;
        }
        .navbar-nav{
            margin-left: 55%;
            a{
                margin: 0 10px;
            }
        }
    }
}
