/*--- GRIDS NOSOTROS ---- */
.contenedorNosotros{
    min-height: 100vh;
    width: auto;

    display: grid;
}
/*- columnas y filas NOSOTROS -*/
.headerNosotros{
    grid-column: 1/3;
    grid-row: 1/2;
}
.nosotros{
    grid-column: 1/3;
    grid-row: 2/3;
}
.mapsNosotros{
    grid-column: 1/3;
    grid-row: 3/4;
}
.footerNosotros{
    grid-column: 1/3;
    grid-row: 4/5;
}
/*-- FIN GRIDS NOSOTROS -- */
/*------------------------------------------ INICIO NOSOTROS --------------------------------------- /*

/*--------- header NOSOTROS ---------*/
.headerNosotros h1{
    float: left;
    margin-top: 1rem;
    margin-left: 10px;
    font-size: 40px;
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}
.headerNosotros a{
    text-decoration:none;
}
.headerNosotros a:hover{
    color: white;
}
.headerNosotros a h1:hover{
    color: white;
}
/*------- nav NOSOTROS ----------*/
.navNosotros{
    margin-left: 75%;
    margin-top: 0rem;
}
.navNosotros li{
    list-style: none;
}
.navNosotros li a{
    line-height: 1.3rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
/*------- fin nav ----------*/

/*--------- FIN header NOSOTROS ---------*/

/*----------- info NOSOTROS -------------*/
.nosotros h2{
    margin-left: 5px;
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
}
.nosotros p{
    margin-top: 3px;
    text-align: center;

    list-style-type: none;
    font-size: 18px;
    font-style: italic;
    line-height: 2rem;
    font-weight: 500;
}
/*-------------- imagen NOSOTROS ------------ */
.tortaNosotros{
    height: 170px;
    width: 220px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;

    outline: 7px rgba(184, 231, 16, 0.568) solid;
    background-position: center;
    background-size: cover;
}
/*---------- iframe google maps -----------*/
.mapsNosotros h3{


    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bolder;
    text-align: center;

    color: black;
    font-size: 24px;
}
.mapsNosotros iframe{
    height: 300px;
    width: 300px;
    margin-left: 10px;
}
/*----------- footer NOSOTROS ---------*/
.footerNosotros{
    text-align: center;
    font-size: 16px;
    font-family: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: white;
}
/*------------ iframe redes sociales -----------*/
.footerNosotros i{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
    letter-spacing: 40px;
}
/*-------------- datos del servicio -------------*/
.footerdatosNosotros{
    margin-top: 5px;
    text-align: left;
    font-style: italic;
    font-size: 16px;
}
/*--------------- derechos de copyright ------------*/
.footerderechosNosotros{
    font-size: 12px;
}
/*-------------- FIN footer NOSOTROS -------------*/