/*--- GRIDS NOSOTROS ---- */
.contenedorNosotros{
    min-height: 100vh;
    width: auto;

    display: grid;
}
/*- columnas y filas NOSOTROS -*/
.headerNosotros{
    grid-column: 1/3;
    grid-row: 1/2;
}
.nosotros{
    grid-column: 1/3;
    grid-row: 2/3;
}
.mapsNosotros{
    grid-column: 1/3;
    grid-row: 3/4;
}
.footerNosotros{
    grid-column: 1/3;
    grid-row: 4/5;
}
/*-- FIN GRIDS NOSOTROS -- */
/*------------------------------------------ INICIO NOSOTROS --------------------------------------- /*
/*----------- info NOSOTROS -------------*/
.nosotros h2{
    margin-left: 5px;
    font-family: $font1;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
}
.nosotros p{
    margin-top: 3px;
    text-align: center;

    list-style-type: none;
    font-size: 18px;
    font-style: italic;
    line-height: 2rem;
    font-weight: 500;
}
/*-------------- imagen NOSOTROS ------------ */
.tortaNosotros{
    height: 170px;
    width: 220px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;

    outline: 7px $color5 solid;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
/*---------- iframe google maps -----------*/
.mapsNosotros h3{
    font-family: $font1;
    font-style: normal;
    font-weight: bolder;
    text-align: center;

    color: black;
    font-size: 24px;
}
.mapsNosotros iframe{
    height: 300px;
    width: 300px;
    margin-left: 10px;
}
/*----------- footer NOSOTROS ---------*/
.footerNosotros{
    text-align: center;
    font-size: 16px;
    font-family: $font1;
    font-style: normal;
    font-weight: 300;
    color: $color1;
    i{ /*------------ iframe redes sociales -----------*/
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 30px;
        text-align: center;
        font-size: 30px;
        color: $color1;
        letter-spacing: 40px;
    }
}
.footerNosotros, a, i{
    .fa-facebook-square{
        color: #1877f2;
    }
    .fa-instagram-square{
        color: #c32aa3;
    }
    .fa-whatsapp-square{
        color: #07943b;
    }
}
/*-------------- datos del servicio -------------*/
.footerdatosNosotros{
    margin-top: 5px;
    text-align: left;
    font-style: italic;
    font-size: 16px;
}
/*--------------- derechos de copyright ------------*/
.footerderechosNosotros{
    font-size: 12px;
}
/*-------------- FIN footer NOSOTROS -------------*/