/*--- GRIDS Productos ---- */
.contenedorProductos{
    min-height: 100vh;
    width: auto;

    display: grid;
}
/*- columnas y filas Productos -*/
.headerProductos{
    grid-column: 1/4;
    grid-row: 1/2;
}
.titleProductos{
    grid-column: 1/4;
    grid-row: 2/3;
}
.articleProductos{
    grid-column: 1/4;
    grid-row: 3/4;
}
.testimonial{
    grid-column: 1/4;
    grid-row: 4/5;
}
.articleProductos2{
    grid-column: 1/4;
    grid-row: 5/6;
}
.footerProductos{
    grid-column: 1/4;
    grid-row: 6/7;
}
/*-- FIN GRIDS Productos -- */
/*--------- FIN header INDEX ---------*/
.titleProductos{
    margin: 10px 35px;
    h1{
        text-align: center;
        font-family: $font1;
        font-weight: 600;
    }
}
.fondotitleProductos{
    width: 280px;
    height: 40px;
    background-color: $color5;
    border-radius: 55px;
}
.articleProductos, .articleProductos2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between
}
.articleProductos, .articleProductos2, h3{
    text-align: center;
    font-weight: bolder;
    p{
        font-weight: normal;
    }
}
.imgProd{
    width: 180px;
    height: 150px;
    flex: 0 0 auto;
    margin: 10px 0px 10px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.623);
}
.testimonial{
    font-family: $font1;
    padding: 20px;
    
    h4{
        margin-bottom: 15px;
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
    }
}
.testimonialText{
    font-family: $font1;
        h5{
        width: 280px;
        height: 40px;
        padding: 10px;
        margin-left: 20px;
        background-color: $color5;
        border-radius: 55px;
        text-align: center;
        }
            h6{
            text-align: center;
            margin: 0px 0px 15px;
            font-size: 16px;
            }
}
.text1, .text2{
    margin: 10px;
    text-align: center;
}
.avatar{
    width: 55px;
    height: 55px;
    flex: 0 0 auto;
    margin: 10px 40%;
    background-position: center;
    background-size: cover;
}
/*-------------- footer PRODUCTOS ---------------------*/
.footerProductos{
    text-align: center;
    font-size: 16px;
    font-family: $font1;
    font-style: normal;
    font-weight: 300;
    color: $color1;
    i{ /*- iframe redes sociales -*/
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 30px;
        font-size: 30px;
        color: $color1;
        letter-spacing: 40px;
    }
}
.footerProductos, a, i{
    .fa-facebook-square{
        color: #1877f2;
    }
    .fa-instagram-square{
        color: #c32aa3;
    }
    .fa-whatsapp-square{
        color: #07943b;
    }
}
/*- datos del servicio -*/
.footerdatosProductos{
    margin-top: 5px;
    text-align: left;
    font-style: italic;
    font-size: 16px;
}
/*- derechos de copyright -*/
.footerderechosProductos{
    font-size: 12px;
}
/*-------------- FIN footer PRODUCTOS ---------------------*/