*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-- ajustes bs --*/
.row{
    --bs-gutter-x: 0rem;
}
/*--- navbar ---*/
.navbar{
    font-family: $font1;
    font-weight: 600;
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.logotipo{
    font-size: 28px;
}
/*--- footer ---*/
.footerTexto{
    h4{
        font-family: $font1;
        font-weight: bolder;
    }
}
.footer{ 
    a{
        text-decoration: none;
    }
}
.footer a{ 
    i{
        padding: 0px 20px;
        margin: 1rem 0 0 2rem;
        text-align: center;
        font-size: 30px;
        color: $color3;
        text-decoration: none;
    }
}
.datosFooter{
    font-family: $font1;
    line-height: 1rem;
    margin: 0 2rem;
    font-weight: 600;
}