<<<<<<< HEAD
$color1: #198754;
$color2: rgba(0, 0, 0, 0.384);
$color3: #fff;
$color4: #ffc107;

$font1: 'Playfair Display', serif, Verdana, Geneva, Tahoma, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@500&display=swap');
@import "_templateSaborarte";
/*------ INDEX ------ */
/*--- carousel ---*/
.carousel-inner{
    img{
        height: 100%;
        width: 100%;
    }
}
.carouselIndex{
    width: 60%;
    height:auto;
    margin: 1rem 2rem 2rem 3rem;
    box-shadow: 2px 5px 15px $color2
}
.carousel-indicators [data-bs-target]{
    border-bottom: 10px solid $color1;
}
/*--- info principal ---*/
.principal{
    h1{
        font-family: $font1;
        font-weight: 600;
    }
}
/*--- banner ----*/
.textoBanner{
    h2, h4{
        font-family: $font1;
        font-weight: 600;
    }
}
.banner{
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    box-shadow: 2px 5px 15px $color2
}
.containerBanner{
    h4{
        margin: 1rem;
    }
}
/*--- boton contactanos ---*/
.btn-principal {
    padding: 1.3em 2em;
    margin-bottom: 40px;
    border: none;
    border-radius: 45px;
    background-color: #0558f2;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: $color3;
    }
.btn-principal.btn-principal a {
    color: $color3;
    text-decoration: none;
}
.btn-principal.btn-principal:hover {
    background-color: #0447c2;
    transform: translateY(7px);
}
/*------ FIN INDEX ------ */
/*------ NOSOTROS ------ */
#mainInfo{
    h2{
        font-family: $font1;
        font-weight: 600;
    }
}
/*---carousel---*/
.carouselNosotros{
    width: 40%;
    height: auto;
    margin: 1rem 0rem 2rem 30%;
    
    box-shadow: 2px 5px 15px $color2;
}
/*--- google maps ---*/
.mapsNosotros{
    h3{
        font-family: $font1;
        font-weight: 600;
        margin: 0rem;
    }
}
.mapsNosotros{ 
    iframe{
        width: 40%;
        height: 300px;
        margin: 0rem 0 2rem 30%;
        box-shadow: 2px 5px 15px $color2;
        border-radius: 5px;
    }
}
/*------ FIN NOSOTROS ------ */
/*------ PRODUCTOS ------*/
/*------ jumbotron ------*/
.jumbotron{
    h1{
        font-family: $font1;
        font-weight: 600;
        color: black;
    }
}
/*--- carta de productos ----*/
.cardProductos{
    width: 80%;
    height: auto;
    margin: 1rem 0 0 10%;
}
.card-img-top{
    margin: 0 0 0 1rem;
    box-shadow: 2px 5px 15px $color2;
}
/*-boton de contacto-*/
.botonContacto__productos{
    margin: 1rem;
}
/*------ testimonial review -----*/
@import "_testimonial";
/*------ FIN PRODUCTOS ------*/
/*------ FAQs ------ */
.tituloFaqs{
    font-family: $font1;
}
.tituloFaqs{ 
    img{
        margin:0 0 0 28%;
        width: 45%;
        box-shadow: 2px 5px 15px $color2;
    }
}
/*--- accordion ---*/
.accordionfaqs{
    width: 60%;
    height: auto;
    box-shadow: 2px 5px 15px $color2;
    margin: 2rem 0 2rem 20%;
}
/*------ FIN FAQs ------ */
/*------ CONTACTO ------*/
.infoContacto{ 
    h2{
        font-family: $font1;
        font-weight: 600;
        margin: 1rem;
    }
}
/*--- formulario ---*/
.contenedorFormulario{
    width: 35%;
    height: auto;
    margin: 2rem 33% 2rem;
}
/*------ FIN CONTACTO ------*/ 
=======
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@500&display=swap');/*- link google fonts-*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "_variables";
@import "_index";
@import "_nosotros";
@import "_productos";
@import "_contacto";
@import "_faqs";
@import "_anim";
/*-------- media 320px ------------*/
    @media only screen and (min-width:320px) and (max-width:479px){
    /*INDEX*/
        .contenedorIndex{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 2.9fr 1fr;
    }
    /*FIN-INDEX*/
    /*NOSOTROS*/
        .contenedorNosotros{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.2fr 1.5fr 0.7fr 0.2fr;
        }
    /*FIN-NOSOTROS*/
    /*CONTACTO*/
        .contenedorContacto{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.2fr 2.8fr 0.2fr;
        }
    /*FIN-CONTACTO*/
        .contenedorProductos{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 0.1fr 0.1fr 1fr 0.2fr 1fr 0.2fr;
        }
}
/*-------- media 480px ------------*/
    @media only screen and (min-width:480px){
        /*INDEX*/
        .contenedorIndex{
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.4fr 2.6fr 1fr;
        }
        /*----------- infoprincipal INDEX -------------*/
        .tituloInfoPrincipal{
            margin-top: 5px;
        }
        .listaInfoPrincipal{
            line-height: 2.5rem;
        }
        /*-------------- galeria INDEX ------------ */
        .torta1, .torta2, .torta3{
            margin: 5px 0px 0px 50px;
            height: 140px;
            width: 130px;
        }
        /*-------------- footer INDEX ---------------------*/
        .footerIndex{
            font-size: 18px;
        }
        /*------------ i redes sociales -----------*/
        .footerIndex i{
            font-size: 40px;
        }
        /*-------------- FIN footer INDEX ---------------------*/
        /*FIN-INDEX*/

        /*NOSOTROS*/
        /*-------------- imagen NOSOTROS ------------ */
        .tortaNosotros{
            margin-left: 120px;
        }
        /*---------- iframe google maps -----------*/
        .mapsNosotros iframe{
            margin-left: 90px;
        }
        /*----------- footer NOSOTROS ---------*/
        .footerNosotros{
            font-size: 18px;
        }
        /*------------ i redes sociales -----------*/
        .footerNosotros i{
            font-size: 40px; 
        }
        /*-------------- FIN footer NOSOTROS -------------*/
        /*FIN-NOSOTROS*/

        /*PRODUCTOS*/
        .titleProductos{
            padding: 20px;
            margin: 0 20px;
        }
        .fondotitleProductos{
            width: 400px;
        }
        .testimonialText{
            h5{
                margin: 0 75px 15px;
            }
        }
        .avatar{
            margin: 10px 44%;
        }
        /*-------------- footer PRODUCTOS ---------------------*/
        .footerProductos{
            font-size: 18px;
        }
        /*------------ i redes sociales -----------*/
        .footerProductos i{
            font-size: 40px;
        }
        /*-------------- FIN footer PRODUCTOS ---------------------*/
        /*FIN-PRODUCTOS*/

        /*CONTACTO*/
        #Contacto{
            margin-bottom: 25px;
        }
        .form{
            width: 350px;
        }
        .form__input{
            width: 325px;
            padding: 5px;
        }
        /*-------------- footer CONTACTO ---------------------*/
        .footerContacto{
            font-size: 18px;
        }
        /*------------ i redes sociales -----------*/
        .footerContacto i{
            font-size: 40px;
        }
        /*-------------- FIN footer CONTACTO ---------------------*/
        /*FIN-CONTACTO*/
        /*FAQS*/
        .accordion-wrapper {
            width: 400px;
        }
        /*-------------- footer FAQS ---------------------*/
        .footerFaqs{
            font-size: 18px;
        }
        /*------------ i redes sociales -----------*/
        .footerFaqs i{
            font-size: 40px;
        }
        /*-------------- FIN footer FAQS ---------------------*/
        /*FIN-FAQS*/
}
/*-------- media 600px ------------*/
    @media only screen and (min-width:600px){
        /*INDEX*/
        .contenedorIndex{
            grid-template-rows: 0.2fr 2.8fr 1fr;
        }
        /*--------- header INDEX ---------*/
        .headerIndex h1{
            font-size: 45px;
        }
        /*------- nav INDEX ----------*/
        .navIndex{
            margin-left: 40%;
        }
        .navIndex li{
            display: inline-block;
            margin: 25px 4px;
        }
        .navIndex li a{
            font-size: 20px;
        }
        /*------- FIN nav INDEX ----------*/
        /*--------- FIN header INDEX ---------*/
        /*----------- infoprincipal INDEX -------------*/
        .tituloInfoPrincipal{
            margin: 15px 20px;
            font-size: 24px;
        }
        .listaInfoPrincipal{
            font-size: 22px;
            line-height: 4rem;
        }
        /*-------------- galeria INDEX ------------ */
        .torta1, .torta2, .torta3{
            margin: 10px 0px 0px 60px;
            height: 190px;
            width: 180px;
        }
        /*-------------- footer INDEX ---------------------*/
        .footerIndex{
            font-size: 22px;
        }
        /*------------ i redes sociales -----------*/
        .footerIndex i{
            font-size: 50px;
            margin-left: 70px;
            letter-spacing: 80px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosIndex{
            margin-left: 10px;
            font-size: 20px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosIndex{
            font-size: 16px;
        }
        /*-------------- FIN footer INDEX ---------------------*/
        /*FIN-INDEX*/

        /*NOSOTROS*/
        /*--------- header NOSOTROS ---------*/
        .headerNosotros h1{
            font-size: 45px;
        }
        /*------- nav NOSOTROS ----------*/
        .navNosotros{
            margin-left: 40%;
        }
        .navNosotros li{
            display: inline-block;
            margin: 25px 4px;
        }
        .navNosotros li a{
            font-size: 20px;
        }
        /*------- fin nav ----------*/
        /*--------- FIN header NOSOTROS ---------*/
        /*----------- info NOSOTROS -------------*/
        .nosotros h2{
            margin: 15px 20px;
            font-size: 24px;
        }
        .nosotros p{
            margin: 5px 25px;
            font-size: 22px;
        }
        /*-------------- imagen NOSOTROS ------------ */
        .tortaNosotros{
            margin: 5px 120px 15px;
            height: 260px;
            width: 350px;
        }
        /*---------- iframe google maps -----------*/
        .mapsNosotros iframe{
            margin-left: 150px;
        }
        /*----------- footer NOSOTROS ---------*/
        .footerNosotros{
            font-size: 22px;
        }
        /*------------ i redes sociales -----------*/
        .footerNosotros i{
            font-size: 50px;
            margin-left: 70px;
            letter-spacing: 80px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosNosotros{
            margin-left: 10px;
            font-size: 16px;
        }
        /*-------------- FIN footer NOSOTROS -------------*/
        /*FIN-NOSOTROS*/

        /*PRODUCTOS*/
        /*--------- header PRODUCTOS ---------*/
        .headerProductos h1{
            font-size: 45px;
        }
        /*------- nav PRODUCTOS ----------*/
        .navProductos{
            margin-left: 40%;
        }
        .navProductos li{
            display: inline-block;
            margin: 25px 4px;
        }
        .navProductos li a{
            font-size: 20px;
        }
        /*------- FIN nav PRODUCTOS ----------*/
        /*--------- FIN header PRODUCTOS ---------*/
        .titleProductos{
            padding: 20px;
            margin: 0 20px;
        }
        .fondotitleProductos{
            width: 520px;
        }
        .testimonialText{
            h5{
                margin: 0 139px 15px;
            }
        }
        .avatar{
            margin: 10px 45%;
        }
        /*-------------- footer PRODUCTOS ---------------------*/
        .footerProductos{
            font-size: 22px;
        }
        /*------------ i redes sociales -----------*/
        .footerProductos i{
            font-size: 50px;
            margin-left: 70px;
            letter-spacing: 80px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosProductos{
            margin-left: 10px;
            font-size: 20px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosProductos{
            font-size: 16px;
        }
        /*-------------- FIN footer PRODUCTOS ---------------------*/
        /*FIN-PRODUCTOS*/

        /*CONTACTO*/
        /*--------- header CONTACTO ---------*/
        .headerContacto h1{
            font-size: 45px;
        }
        /*------- nav CONTACTO ----------*/
        .navContacto{
            margin-left: 40%;
        }
        .navContacto li{
            display: inline-block;
            margin: 25px 4px;
        }
        .navContacto li a{
            font-size: 20px;
        }
        /*------- FIN nav CONTACTO ----------*/
        /*--------- FIN header CONTACTO ---------*/
        /*-------------- footer CONTACTO ---------------------*/
        .footerContacto{
            font-size: 22px;
        }
        /*------------ i redes sociales -----------*/
        .footerContacto i{
            font-size: 50px;
            margin-left: 70px;
            letter-spacing: 80px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosContacto{
            margin-left: 10px;
            font-size: 20px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosContacto{
            font-size: 16px;
        }
        /*-------------- FIN footer CONTACTO ---------------------*/
        /*FIN-CONTACTO*/

        /*FAQS*/
        /*--------- header FAQS ---------*/
        .headerFaqs h1{
            font-size: 45px;
        }
        /*------- nav FAQS ----------*/
        .navFaqs{
            margin-left: 40%;
        }
        .navFaqs li{
            display: inline-block;
            margin: 25px 4px;
        }
        .navFaqs li a{
            font-size: 20px;
        }
        /*------- FIN nav FAQS ----------*/
        /*--------- FIN header FAQS ---------*/
        .imgFaqs{
            img{
            width: 400px;
            height: 300px;
            }
        }
        /*-------------- footer FAQS ---------------------*/
        .footerFaqs{
            font-size: 22px;
        }
        /*------------ i redes sociales -----------*/
        .footerFaqs i{
            font-size: 50px;
            margin-left: 70px;
            letter-spacing: 80px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosFaqs{
            margin-left: 10px;
            font-size: 20px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosFaqs{
            font-size: 16px;
        }
        /*-------------- FIN footer FAQS ---------------------*/
        /*FIN-FAQS*/

}
/*------------------------------------- media 768px -----------------------*/
    @media only screen and (min-width:768px) and (max-width:1023px){ /* RESOLUCION 768px x 1024px */
        /*INDEX*/
        .contenedorIndex{
            grid-template-rows: 0.2fr 2.8fr 0.2fr;
        }
        /*--------- header INDEX ---------*/
        .headerIndex h1{
            font-size: 50px;
        }
        /*------- nav INDEX ----------*/
        .navIndex{
            margin-left: 40%;
        }
        .navIndex li{
            display: inline-block;
            margin: 20px 10px;
        }
        .navIndex li a{
            font-size: 24px;
        }
        /*------- FIN nav INDEX ----------*/
        /*--------- FIN header INDEX ---------*/
        /*----------- infoprincipal INDEX -------------*/
        .tituloInfoPrincipal{
            margin: 20px 20px;
            font-size: 30px;
        }
        .listaInfoPrincipal{
            margin-left: 30px;
            font-size: 28px;
            line-height: 7rem;
        }
        /*-------------- galeria INDEX ------------ */
        .torta1, .torta2, .torta3{
            margin: 20px 0px 0px 60px;
            height: 290px;
            width: 280px;
        }
        /*-------------- footer INDEX ---------------------*/
        .footerIndex{
            font-size: 30px;
        }
        /*------------ i redes sociales -----------*/
        .footerIndex i{
            font-size: 80px;
            margin-left: 70px;
            letter-spacing: 80px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosIndex{
            margin-left: 10px;
            font-size: 28px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosIndex{
            font-size: 22px;
        }
        /*-------------- FIN footer INDEX ---------------------*/
        /*FIN-INDEX*/
        
        /*NOSOTROS*/
        /*--------- header NOSOTROS ---------*/
        .headerNosotros h1{
            font-size: 50px;
        }
        /*------- nav NOSOTROS ----------*/
        .navNosotros{
            margin-left: 40%;
        }
        .navNosotros li{
            display: inline-block;
            margin: 20px 10px;
        }
        .navNosotros li a{
            font-size: 24px;
        }
        /*------- fin nav ----------*/
        /*--------- FIN header NOSOTROS ---------*/
        /*----------- info NOSOTROS -------------*/
        .nosotros h2{
            margin: 15px 20px;
            font-size: 30px;
        }
        .nosotros p{
            margin: 15px 25px;
            font-size: 24px;
        }
        /*-------------- imagen NOSOTROS ------------ */
        .tortaNosotros{
            margin: 20px 140px 20px;
            height: 360px;
            width: 450px;
        }
        .mapsNosotros h3{
            font-size: 30px;
        }/*---------- iframe google maps -----------*/
        .mapsNosotros iframe{
            height: 500px;
            width: 500px;
            margin-left: 120px;
        }
        /*----------- footer NOSOTROS ---------*/
        .footerNosotros{
            font-size: 30px;
        }
        /*------------ i redes sociales -----------*/
        .footerNosotros i{
            font-size: 80px;
            margin-left: 70px;
            letter-spacing: 80px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosNosotros{
            margin-left: 10px;
            font-size: 28px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosNosotros{
            font-size: 22px;
        }
        /*-------------- FIN footer NOSOTROS -------------*/
        /*FIN-NOSOTROS*/

        /*PRODUCTOS*/
        /*--------- header PRODUCTOS ---------*/
        .headerProductos h1{
            font-size: 50px;
        }
        /*------- nav PRODUCTOS ----------*/
        .navProductos{
            margin-left: 40%;
        }
        .navProductos li{
            display: inline-block;
            margin: 20px 10px;
        }
        .navProductos li a{
            font-size: 24px;
        }
        /*------- FIN nav PRODUCTOS ----------*/
        /*--------- FIN header PRODUCTOS ---------*/
        .titleProductos{
            padding: 20px;
            margin: 0 60px;
            h1{
                font-size: 30px;
            }
        }
        .fondotitleProductos{
            width: 600px;
            height: 55px;
        }
        .articlesProductos, .articleProductos2, h3{
            font-size: 26px;
        }
        .articlesProductos, .articlesProductos2, h3, p{
            font-size: 22px;
        }
        .imgProd{
            width: 300px;
            height: 250px;
        }
        .testimonial{
            h4{
                margin: 0 0 20px;
                font-size: 28px;
            }
        }
        .testimonialText{
            h5{
                width: 300px;
                height: 60px;
                margin: 0 210px 15px;
                font-size: 22px;
            }
            h6{
                font-size: 20px;
            }
        }
        .avatar{
            width: 70px;
            height: 70px;
            margin: 10px 45%;
        }
        .text1, .text2{
            font-size: 20px;
        }
        /*-------------- footer PRODUCTOS ---------------------*/
        .footerProductos{
            font-size: 30px;
        }
        /*------------ i redes sociales -----------*/
        .footerProductos i{
            font-size: 80px;
            margin-left: 70px;
            letter-spacing: 80px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosProductos{
            margin-left: 10px;
            font-size: 28px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosProductos{
            font-size: 22px;
        }
        /*-------------- FIN footer PRODUCTOS ---------------------*/
        /*FIN-PRODUCTOS*/

        /*INICIO-CONTACTO*/
        .contenedorContacto{
            grid-template-rows: 0.2fr 2.4fr 0.2fr;
        }
        /*--------- header CONTACTO ---------*/
        .headerContacto h1{
            font-size: 50px;
        }
        /*------- nav CONTACTO ----------*/
        .navContacto{
            margin-left: 40%;
        }
        .navContacto li{
            display: inline-block;
            margin: 20px 10px;
        }
        .navContacto li a{
            font-size: 24px;
        }
        /*------- FIN nav CONTACTO ----------*/
        /*--------- FIN header CONTACTO ---------*/
        /*--------- Formulario Contacto --------- */
        #Contacto{
            margin-bottom: 200px;
            font-size: 30px;
        }
        .form{
            width: 550px;
            margin: 15px 0;
            font-size: 24px;
        }
        .form__input{
            width: 525px;
            margin: 10px;
            padding: 15px;
            font-size: 18px;
        }
        .form textarea{
            height: 200px;
        }
        /*-------------- footer CONTACTO ---------------------*/
        .footerContacto{
            font-size: 30px;
        }
        /*------------ i redes sociales -----------*/
        .footerContacto i{
            font-size: 80px;
            margin-left: 70px;
            letter-spacing: 80px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosContacto{
            margin-left: 10px;
            font-size: 28px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosContacto{
            font-size: 22px;
        }
        /*-------------- FIN footer CONTACTO ---------------------*/
        /*FIN-CONTACTO*/

        /*FAQS*/
        /*--------- header FAQS ---------*/
        .headerFaqs h1{
            font-size: 50px;
        }
        /*------- nav FAQS ----------*/
        .navFaqs{
            margin-left: 40%;
        }
        .navFaqs li{
            display: inline-block;
            margin: 20px 10px;
        }
        .navFaqs li a{
            font-size: 24px;
        }
        /*------- FIN nav FAQS ----------*/
        /*--------- FIN header FAQS ---------*/
        .titleFaqs{
            font-size: 28px;
        }
        .accordion-wrapper{
            width: 600px;
        }
        .accordion-label{
            font-size: 26px;
        }
        .accordion-content p{
            font-size: 24px;
        }
        .textoFaqs{
            h3{
                font-size: 26px;
            }
        }
        /*-------------- footer FAQS ---------------------*/
        .footerFaqs{
            font-size: 30px;
        }
        /*------------ i redes sociales -----------*/
        .footerFaqs i{
            font-size: 80px;
            margin-left: 70px;
            letter-spacing: 80px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosFaqs{
            margin-left: 10px;
            font-size: 28px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosFaqs{
            font-size: 22px;
        }
        /*-------------- FIN footer FAQS ---------------------*/
        /*FIN-FAQS*/
}
/*------------------------------------- media 1024px -----------------------*/
    @media only screen and (min-width:1024px){
        /*INDEX*/
        .contenedorIndex{
            grid-template-rows: 0.1fr 2fr 0.1fr;
        }
        /*--------- header INDEX ---------*/
        .headerIndex h1{
            margin-left: 15px;
            margin-top: 10px;
            font-size: 60px;
        }
        /*------- nav INDEX ----------*/
        .navIndex{
            margin-left: 65%;
        }
        .navIndex li{
            display: inline-block;
            margin: 30px 15px;
        }
        .navIndex li a{
            font-size: 20px;
        }
        /*------- FIN nav INDEX ----------*/
        /*--------- FIN header INDEX ---------*/
        /*----------- infoprincipal INDEX -------------*/
        .tituloInfoPrincipal{
            padding: 10px;
            margin-top: 20px;
            margin-left: 15%;
            font-size: 36px;
        }
        .listaInfoPrincipal{
            margin-left: 15%;
            padding: 10px;
            font-size: 28px;
            line-height: 15rem;
        }
        /*-------------- galeria INDEX ------------ */
        .torta1, .torta2, .torta3{
            margin: 40px 0px 20px 140px;
            height: 450px;
            width: 370px;
        }
        /*-------------- footer INDEX ---------------------*/
        .footerIndex{
            font-size: 36px;
        }
        /*------------ i redes sociales -----------*/
        .footerIndex i{
            margin-left: 100px;
            font-size: 70px;
            letter-spacing: 100px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosIndex{
            font-size: 26px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosIndex{
            font-size: 16px;
        }
        /*-------------- FIN footer INDEX ---------------------*/
        /*FIN-INDEX*/
        /*NOSOTROS*/
        /*--------- header NOSOTROS ---------*/
        .headerNosotros h1{
            margin-left: 15px;
            margin-top: 10px;
            font-size: 60px;
        }
        /*------- nav NOSOTROS ----------*/
        .navNosotros{
            margin-left: 65%;
        }
        .navNosotros li{
            display: inline-block;
            margin: 30px 15px;
        }
        .navNosotros li a{
            font-size: 20px;
        }
        /*------- fin nav ----------*/
        /*--------- FIN header NOSOTROS ---------*/
        /*----------- info NOSOTROS -------------*/
        .nosotros h2{
            margin: 15px 20px;
            font-size: 36px;
        }
        .nosotros p{
            margin: 15px 25px;
            font-size: 28px;
        }
        /*-------------- imagen NOSOTROS ------------ */
        .tortaNosotros{
            margin: 20px 30% 20px;
            height: 400px;
            width: 540px;
        }
        .mapsNosotros h3{
            font-size: 34px;
        }
        /*---------- iframe google maps -----------*/
        .mapsNosotros iframe{
            height: 400px;
            width: 600px;
            margin-left: 28%;
        }
        /*----------- footer NOSOTROS ---------*/
        .footerNosotros{
            font-size: 36px;
        }
        /*------------ i redes sociales -----------*/
        .footerNosotros i{
            margin-left: 100px;
            font-size: 70px;
            letter-spacing: 100px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosNosotros{
            font-size: 26px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosNosotros{
            font-size: 16px;
        }
        /*-------------- FIN footer NOSOTROS -------------*/
        /*FIN-NOSOTROS*/

        /*PRODUCTOS*/
        /*--- GRIDS Productos ---- */
        /*- columnas y filas Productos -*/
        /*--------- header PRODUCTOS ---------*/
        .headerProductos h1{
            margin-left: 15px;
            margin-top: 10px;
            font-size: 60px;
        }
        /*------- nav PRODUCTOS ----------*/
        .navProductos{
            margin-left: 65%;
        }
        .navProductos li{
            display: inline-block;
            margin: 30px 15px;
        }
        .navProductos li a{
            font-size: 20px;
        }
        /*------- FIN nav PRODUCTOS ----------*/
        /*--------- FIN header PRODUCTOS ---------*/
        .titleProductos{
            padding: 40px;
            margin: 0 250px;
            h1{
                font-size: 32px;
                text-align: center;
            }
        }
        .fondotitleProductos{
            width: 750px;
            height: 60px;
        }
        .articlesProductos, .articleProductos2, h3{
            font-size: 26px;
        }
        .articlesProductos, .articlesProductos2, h3, p{
            margin: 10px;
            font-size: 22px;
        }
        .imgProd{
            width: 300px;
            height: 250px;
            margin: 0 0px 0 40px;
        }
        .testimonial{
            h4{
                margin: 0 0 20px;
                font-size: 28px;
            }
        }
        .testimonialText{
            h5{
                width: 300px;
                height: 60px;
                margin: 0 500px 15px;
                font-size: 22px;
            }
            h6{
                font-size: 20px;
            }
        }
        .avatar{
            width: 70px;
            height: 70px;
            margin: 10px 47.5%;
        }
        .text1, .text2{
            font-size: 20px;
        }
        /*-------------- footer PRODUCTOS ---------------------*/
        .footerProductos{
            font-size: 36px;
        }
        /*------------ i redes sociales -----------*/
        .footerProductos i{
            margin-left: 100px;
            font-size: 70px;
            letter-spacing: 100px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosProductos{
            font-size: 26px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosProductos{
            font-size: 16px;
        }
        /*-------------- FIN footer PRODUCTOS ---------------------*/
        /*FIN-PRODUCTOS*/
        /*CONTACTO*/
        /*--------- header CONTACTO ---------*/
        .headerContacto h1{
            margin-left: 15px;
            margin-top: 10px;
            font-size: 60px;
        }
        /*------- nav CONTACTO ----------*/
        .navContacto{
            margin-left: 65%;
        }
        .navContacto li{
            display: inline-block;
            margin: 30px 15px;
        }
        .navContacto li a{
            font-size: 20px;
        }
        /*------- FIN nav CONTACTO ----------*/
        /*--------- FIN header CONTACTO ---------*/

        /*--------- Formulario Contacto --------- */
        #Contacto{
            font-size: 34px;
        }
        .form{
            width: 550px;
            margin: 0px;

            font-size: 24px;
        }
        .form__input{
            width: 525px;
            margin: 0px;
            padding: 5px;

            font-size: 18px;
        }
        .form textarea{
            height: 100px;
        }
        /*-------------- footer CONTACTO ---------------------*/
        .footerContacto{
            font-size: 36px;
        }
        /*------------ i redes sociales -----------*/
        .footerContacto i{
            margin-left: 100px;
            font-size: 70px;
            letter-spacing: 100px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosContacto{
            font-size: 26px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosContacto{
            font-size: 16px;
        }
        /*-------------- FIN footer CONTACTO ---------------------*/
        /*FIN-CONTACTO*/
        /*FAQS*/
        /*--------- header FAQS ---------*/
        .headerFaqs h1{
            margin-left: 15px;
            margin-top: 10px;
            font-size: 60px;
        }
        /*------- nav FAQS ----------*/
        .navFaqs{
            margin-left: 65%;
        }
        .navFaqs li{
            display: inline-block;
            margin: 30px 15px;
        }
        .navFaqs li a{
            font-size: 20px;
        }
        /*------- FIN navFAQSS ----------*/
        /*--------- FIN header FAQS ---------*/
        .titleFaqs{
            font-size: 28px;
        }
        .accordion-wrapper{
            width: 700px;
        }
        /*-------------- footer FAQS ---------------------*/
        .footerFaqs{
            font-size: 36px;
        }
        /*------------ i redes sociales -----------*/
        .footerFaqs i{
            margin-left: 100px;
            font-size: 70px;
            letter-spacing: 100px;
        }
        /*-------------- datos del servicio -------------*/
        .footerdatosFaqs{
            font-size: 26px;
        }
        /*--------------- derechos de copyright ------------*/
        .footerderechosFaqs{
            font-size: 16px;
        }
        /*-------------- FIN footer FAQS ---------------------*/
        /*FIN-FAQS*/
    }
>>>>>>> entrega3
