@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@500&display=swap");
/*- link google fonts-*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*- selector universal -*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #ffff48, #feff56, #fdff62, #fcff6d, #fbff78, #f6fb75, #f1f773, #ecf370, #e1ea60, #d7e14f, #ccd83d, #c1cf27);
}

/*--- GRIDS INDEX ---- */
.contenedorIndex {
  min-height: 100vh;
  width: auto;
  display: grid;
}

/*- columnas y filas INDEX -*/
.headerIndex {
  grid-column: 1/5;
  grid-row: 1/2;
}

.mainInfohome {
  grid-column: 1/3;
  grid-row: 2/3;
}

.sidebarGaleriahome {
  grid-column: 3/5;
  grid-row: 2/3;
}

.footerIndex {
  grid-column: 1/5;
  grid-row: 3/4;
}

/*--FIN GRIDS INDEX--*/
/*------------------------------------------ INICIO INDEX --------------------------------------- /* 
/*--------- header INDEX ---------*/
.headerIndex {
  background-color: #ddd01c;
}
.headerIndex h1 {
  float: left;
  margin-top: 1rem;
  margin-left: 10px;
  font-size: 40px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

.headerIndex a {
  text-decoration: none;
}

.headerIndex a:hover {
  color: white;
}

.headerIndex a h1:hover {
  color: white;
}

/*------- nav INDEX ----------*/
.navIndex {
  margin-left: 75%;
  margin-top: 0rem;
}
.navIndex li {
  list-style: none;
}

.navIndex li a {
  line-height: 1.3rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

/*------- FIN nav INDEX ----------*/
/*--------- FIN header INDEX ---------*/
/*----------- infoprincipal INDEX -------------*/
.tituloInfoPrincipal {
  margin-left: 10px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-style: italic;
  font-weight: bolder;
  font-size: 22px;
}

.listaInfoPrincipal {
  margin-top: 10px;
  margin-left: 15px;
  list-style-type: none;
  font-size: 20px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: 500;
  line-height: 2rem;
}

.sidebarGaleriahome {
  display: flex;
  flex-flow: column;
  justify-content: none;
}

/*-------------- galeria INDEX ------------ */
.torta1, .torta2, .torta3 {
  height: 130px;
  width: 120px;
  border: 7px solid #E8617A;
  margin-top: 10px;
  margin-left: 10px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

/*-------------- footer INDEX ---------------------*/
.footerIndex {
  text-align: center;
  font-size: 16px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.footerIndex i {
  /*- iframe redes sociales -*/
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  letter-spacing: 40px;
}

.footerIndex .fa-facebook-square, a .fa-facebook-square, i .fa-facebook-square {
  color: #1877f2;
}
.footerIndex .fa-instagram-square, a .fa-instagram-square, i .fa-instagram-square {
  color: #c32aa3;
}
.footerIndex .fa-whatsapp-square, a .fa-whatsapp-square, i .fa-whatsapp-square {
  color: #07943b;
}

/*- datos del servicio -*/
.footerdatosIndex {
  margin-top: 5px;
  text-align: left;
  font-style: italic;
  font-size: 16px;
}

/*- derechos de copyright -*/
.footerderechosIndex {
  font-size: 12px;
}

/*-------------- FIN footer INDEX ---------------------*/
/*--- GRIDS NOSOTROS ---- */
.contenedorNosotros {
  min-height: 100vh;
  width: auto;
  display: grid;
}

/*- columnas y filas NOSOTROS -*/
.headerNosotros {
  grid-column: 1/3;
  grid-row: 1/2;
}

.nosotros {
  grid-column: 1/3;
  grid-row: 2/3;
}

.mapsNosotros {
  grid-column: 1/3;
  grid-row: 3/4;
}

.footerNosotros {
  grid-column: 1/3;
  grid-row: 4/5;
}

/*-- FIN GRIDS NOSOTROS -- */
/*------------------------------------------ INICIO NOSOTROS --------------------------------------- /*
/*--------- header NOSOTROS ---------*/
.headerNosotros {
  background-color: #ddd01c;
}
.headerNosotros h1 {
  float: left;
  margin-top: 1rem;
  margin-left: 10px;
  font-size: 40px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

.headerNosotros a {
  text-decoration: none;
}

.headerNosotros a:hover {
  color: white;
}

.headerNosotros a h1:hover {
  color: white;
}

/*------- nav NOSOTROS ----------*/
.navNosotros {
  margin-left: 75%;
  margin-top: 0rem;
}

.navNosotros li {
  list-style: none;
}

.navNosotros li a {
  line-height: 1.3rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

/*------- fin nav ----------*/
/*--------- FIN header NOSOTROS ---------*/
/*----------- info NOSOTROS -------------*/
.nosotros h2 {
  margin-left: 5px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
}

.nosotros p {
  margin-top: 3px;
  text-align: center;
  list-style-type: none;
  font-size: 18px;
  font-style: italic;
  line-height: 2rem;
  font-weight: 500;
}

/*-------------- imagen NOSOTROS ------------ */
.tortaNosotros {
  height: 170px;
  width: 220px;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
  outline: 7px #E8617A solid;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

/*---------- iframe google maps -----------*/
.mapsNosotros h3 {
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  color: black;
  font-size: 24px;
}

.mapsNosotros iframe {
  height: 300px;
  width: 300px;
  margin-left: 10px;
}

/*----------- footer NOSOTROS ---------*/
.footerNosotros {
  text-align: center;
  font-size: 16px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.footerNosotros i {
  /*------------ iframe redes sociales -----------*/
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
  text-align: center;
  font-size: 30px;
  color: rgb(0, 0, 0);
  letter-spacing: 40px;
}

.footerNosotros .fa-facebook-square, a .fa-facebook-square, i .fa-facebook-square {
  color: #1877f2;
}
.footerNosotros .fa-instagram-square, a .fa-instagram-square, i .fa-instagram-square {
  color: #c32aa3;
}
.footerNosotros .fa-whatsapp-square, a .fa-whatsapp-square, i .fa-whatsapp-square {
  color: #07943b;
}

/*-------------- datos del servicio -------------*/
.footerdatosNosotros {
  margin-top: 5px;
  text-align: left;
  font-style: italic;
  font-size: 16px;
}

/*--------------- derechos de copyright ------------*/
.footerderechosNosotros {
  font-size: 12px;
}

/*-------------- FIN footer NOSOTROS -------------*/
/*--- GRIDS Productos ---- */
.contenedorProductos {
  min-height: 100vh;
  width: auto;
  display: grid;
}

/*- columnas y filas Productos -*/
.headerProductos {
  grid-column: 1/4;
  grid-row: 1/2;
}

.titleProductos {
  grid-column: 1/4;
  grid-row: 2/3;
}

.articleProductos {
  grid-column: 1/4;
  grid-row: 3/4;
}

.testimonial {
  grid-column: 1/4;
  grid-row: 4/5;
}

.articleProductos2 {
  grid-column: 1/4;
  grid-row: 5/6;
}

.footerProductos {
  grid-column: 1/4;
  grid-row: 6/7;
}

/*-- FIN GRIDS Productos -- */
/*--------- header Productos ---------*/
.headerProductos {
  background-color: #ddd01c;
}
.headerProductos h1 {
  float: left;
  margin-top: 1rem;
  margin-left: 10px;
  font-size: 40px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

.headerProductos a {
  text-decoration: none;
}

.headerProductos a:hover {
  color: white;
}
.headerProductos a:hover h1:hover {
  color: white;
}

/*------- nav Productos ----------*/
.navProductos {
  margin-left: 75%;
  margin-top: 0rem;
}

.navProductos li {
  list-style: none;
}
.navProductos li a {
  line-height: 1.3rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

/*------- FIN nav INDEX ----------*/
/*--------- FIN header INDEX ---------*/
.titleProductos {
  padding: 20px;
}
.titleProductos h1 {
  text-align: center;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.fondotitleProductos {
  width: 280px;
  height: 40px;
  background-color: #E8617A;
  border-radius: 55px;
}

.articleProductos, .articleProductos2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.articleProductos, .articleProductos2, h3 {
  text-align: center;
  font-weight: bolder;
}
.articleProductos p, .articleProductos2 p, h3 p {
  font-weight: normal;
}

.imgProd {
  width: 180px;
  height: 150px;
  flex: 0 0 auto;
  margin: 10px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.623);
}

.testimonial {
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}
.testimonial h4 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.testimonialText {
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
}
.testimonialText h5 {
  width: 280px;
  height: 40px;
  padding: 10px;
  background-color: #E8617A;
  border-radius: 55px;
  text-align: center;
}
.testimonialText h6 {
  text-align: center;
  margin: 0px 0px 15px;
  font-size: 16px;
}

.text1, .text2 {
  margin: 10px;
  text-align: center;
}

.avatar {
  width: 55px;
  height: 55px;
  flex: 0 0 auto;
  margin: 10px 40%;
  background-position: center;
  background-size: cover;
}

/*-------------- footer PRODUCTOS ---------------------*/
.footerProductos {
  text-align: center;
  font-size: 16px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.footerProductos i {
  /*- iframe redes sociales -*/
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  letter-spacing: 40px;
}

.footerProductos .fa-facebook-square, a .fa-facebook-square, i .fa-facebook-square {
  color: #1877f2;
}
.footerProductos .fa-instagram-square, a .fa-instagram-square, i .fa-instagram-square {
  color: #c32aa3;
}
.footerProductos .fa-whatsapp-square, a .fa-whatsapp-square, i .fa-whatsapp-square {
  color: #07943b;
}

/*- datos del servicio -*/
.footerdatosProductos {
  margin-top: 5px;
  text-align: left;
  font-style: italic;
  font-size: 16px;
}

/*- derechos de copyright -*/
.footerderechosProductos {
  font-size: 12px;
}

/*-------------- FIN footer PRODUCTOS ---------------------*/
/*--- GRIDS CONTACTO ---- */
.contenedorContacto {
  min-height: 100vh;
  width: auto;
  display: grid;
}

/*- columnas y filas CONTACTO -*/
.headerContacto {
  grid-column: 1/3;
  grid-row: 1/2;
}

.formularioContacto {
  grid-column: 1/3;
  grid-row: 2/3;
}

.footerContacto {
  grid-column: 1/3;
  grid-row: 3/4;
}

/*-- FIN GRIDS CONTACTO -- */
/*------------------------------------------ INICIO CONTACTO --------------------------------------- /*
/*--------- header INDEX ---------*/
.headerContacto {
  background-color: #ddd01c;
}
.headerContacto h1 {
  float: left;
  margin-top: 1rem;
  margin-left: 10px;
  font-size: 40px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

.headerContacto a {
  text-decoration: none;
}

.headerContacto a:hover {
  color: white;
}

.headerContacto a h1:hover {
  color: rgb(0, 0, 0);
}

/*------- nav CONTACTO ----------*/
.navContacto {
  margin-left: 75%;
  margin-top: 0rem;
}

.navContacto li {
  list-style: none;
}

.navContacto li a {
  line-height: 1.3rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

/*------- fin nav ----------*/
/*--------- FIN header CONTACTO ---------*/
/*--------- Formulario Contacto --------- */
#formularioContacto {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
}

#Contacto {
  height: 100vh;
  width: auto;
  margin: 15px 0 15px;
  text-align: center;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
#Contacto h1 {
  font-size: 32px;
}

fieldset {
  border-color: rgba(255, 255, 255, 0);
}

.form {
  width: 200px;
  padding: 10px;
  flex: 1;
  text-align: center;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.form__input {
  width: auto;
  padding: 5px;
  margin: 5px 0;
  border: none;
  border-bottom: 3px solid rgb(11, 94, 38);
  background: rgb(11, 94, 38);
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.form textarea {
  height: 100px;
}

/*----------- footer CONTACTO ---------*/
.footerContacto {
  text-align: center;
  font-size: 16px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.footerContacto i {
  /*------------ iframe redes sociales -----------*/
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
  text-align: center;
  font-size: 30px;
  color: rgb(0, 0, 0);
  letter-spacing: 40px;
}

.footerContacto .fa-facebook-square, a .fa-facebook-square, i .fa-facebook-square {
  color: #1877f2;
}
.footerContacto .fa-instagram-square, a .fa-instagram-square, i .fa-instagram-square {
  color: #c32aa3;
}
.footerContacto .fa-whatsapp-square, a .fa-whatsapp-square, i .fa-whatsapp-square {
  color: #07943b;
}

/*-------------- datos del servicio -------------*/
.footerdatosContacto {
  margin-top: 5px;
  text-align: left;
  font-style: italic;
  font-size: 16px;
}

/*--------------- derechos de copyright ------------*/
.footerderechosContacto {
  font-size: 12px;
}

/*----------- FIN footer CONTACTO ---------*/
/*--- GRIDS Faqs ---- */
.contenedorFaqs {
  min-height: 100vh;
  width: auto;
  display: grid;
}

/*- columnas y filas Faqs -*/
.headerFaqs {
  grid-column: 1/2;
  grid-row: 1/2;
}

.titleFaqs {
  grid-column: 1/2;
  grid-row: 2/3;
}

.imgFaq {
  grid-column: 1/2;
  grid-row: 3/4;
}

.accordionFaqs {
  grid-column: 1/2;
  grid-row: 4/5;
}

.textoFaqs {
  grid-column: 1/2;
  grid-row: 5/6;
}

.footerFaqs {
  grid-column: 1/2;
  grid-row: 6/7;
}

/*-- FIN GRIDS Faqs -- */
/*--------- header Faqs ---------*/
.headerFaqs {
  background-color: #ddd01c;
}
.headerFaqs h1 {
  float: left;
  margin-top: 1rem;
  margin-left: 10px;
  font-size: 40px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

.headerFaqs a {
  text-decoration: none;
}

.headerFaqs a:hover {
  color: white;
}

.headerFaqs a h1:hover {
  color: white;
}

/*------- nav Faqs ----------*/
.navFaqs {
  margin-left: 75%;
  margin-top: 0rem;
}

.navFaqs li {
  list-style: none;
}

.navFaqs li a {
  line-height: 1.3rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

/*------- FIN Faqs ----------*/
/*--------- FIN head Faqs ---------*/
.titleFaqs {
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.titleFaqs h1 {
  margin: 15px;
  font-size: 32px;
}

.imgFaqs {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.imgFaqs img {
  width: 250px;
  height: 200px;
  margin: 10px 0 20px;
  border-radius: 5px;
  box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.623);
}

/*accordion*/
.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  width: 200px;
  margin: 0 auto 15px;
}

.accordion {
  width: 100%;
  color: rgb(0, 0, 0);
  overflow: hidden;
  margin-bottom: 16px;
}

.accordion:last-child {
  margin-bottom: 0;
}

.accordion-label {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: #22789C;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.accordion-label:hover {
  background: #22789C;
}

.accordion-label::after {
  content: "❯";
  width: 16px;
  height: 16px;
  text-align: center;
  transition: all 0.3s;
}

.accordion-content {
  max-height: 0;
  padding: 0 16px;
  color: rgb(240, 220, 46);
  background: white;
  transition: all 0.3s;
}

.accordion-content p {
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

input:checked + .accordion-label {
  background: #22789C;
}

input:checked + .accordion-label::after {
  transform: rotate(90deg);
}

input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 16px;
}

/*fin accordion*/
.textoFaqs {
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.textoFaqs h3 {
  text-align: center;
}

button {
  margin-bottom: 10px;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: #E8617A;
  border: 1px solid rgba(22, 75, 167, 0);
}
button a {
  text-decoration: none;
}

button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

button:hover {
  -webkit-animation: rotate 0.7s ease-in-out both;
          animation: rotate 0.7s ease-in-out both;
}

button:hover span {
  -webkit-animation: storm 0.7s ease-in-out both;
          animation: storm 0.7s ease-in-out both;
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

button, span, a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@-webkit-keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
/*-------------- footer FAQS ---------------------*/
.footerFaqs {
  text-align: center;
  font-size: 16px;
  font-family: "Playfair Display", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.footerFaqs i {
  /*- iframe redes sociales -*/
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  letter-spacing: 40px;
}

.footerContacto .fa-facebook-square, a .fa-facebook-square, i .fa-facebook-square {
  color: #1877f2;
}
.footerContacto .fa-instagram-square, a .fa-instagram-square, i .fa-instagram-square {
  color: #c32aa3;
}
.footerContacto .fa-whatsapp-square, a .fa-whatsapp-square, i .fa-whatsapp-square {
  color: #07943b;
}

/*- datos del servicio -*/
.footerdatosFaqs {
  margin-top: 5px;
  text-align: left;
  font-style: italic;
  font-size: 16px;
}

/*- derechos de copyright -*/
.footerderechosFaqs {
  font-size: 12px;
}

/*-------------- FIN footer FAQS ---------------------*/
/* -- ANIMACIONES -- */
/*---- animaciones img tortas INDEX ------- */
.animtorta1:hover {
  -webkit-animation: 2s animtorta1 1;
}

@-webkit-keyframes animtorta1 {
  20% {
    -webkit-transform: scale(0.9) rotate(-2deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(0.9) rotate(2deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale(0.9) rotate(-2deg);
  }
}
/* ------ animaciones iframe redes, todas las secciones ---------- */
.animredes:hover {
  -webkit-animation: 1s animredes 1;
}

@-webkit-keyframes animredes {
  40% {
    -webkit-transform: scale(1);
  }
  20%, 60% {
    -webkit-transform: scale(1.1);
  }
}
/*---------- animacion torta NOSOTROS --------------- */
.apariciontorta {
  -webkit-animation: 5s apariciontorta 1;
          animation: 5s apariciontorta 1;
  transform-origin: top left;
}

@-webkit-keyframes apariciontorta {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes apariciontorta {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}
/* --------animaciones formulario CONTACTO ----------*/
/* intro formulario */
.veloz {
  -webkit-animation: 1s veloz 1;
          animation: 1s veloz 1;
}

@-webkit-keyframes veloz {
  0% {
    opacity: 0;
    transform: translateX(-200%) skewX(15deg);
  }
  60% {
    opacity: 1;
    transform: translateX(20%) skewX(-15deg);
  }
  80% {
    transform: translateX(0%) skewX(15deg);
  }
}

@keyframes veloz {
  0% {
    opacity: 0;
    transform: translateX(-200%) skewX(15deg);
  }
  60% {
    opacity: 1;
    transform: translateX(20%) skewX(-15deg);
  }
  80% {
    transform: translateX(0%) skewX(15deg);
  }
}
/* boton enviar movimiento */
.animenviar:hover {
  -webkit-animation: 1s animenviar infinite;
          animation: 1s animenviar infinite;
}

@-webkit-keyframes animenviar {
  5%, 25%, 45%, 65%, 85% {
    transform: translateX(-2px);
  }
  15%, 35%, 55%, 75%, 95% {
    transform: translateX(2px);
  }
}

@keyframes animenviar {
  5%, 25%, 45%, 65%, 85% {
    transform: translateX(-2px);
  }
  15%, 35%, 55%, 75%, 95% {
    transform: translateX(2px);
  }
}
/*-------- media 320px ------------*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
  /*INDEX*/
  .contenedorIndex {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2.9fr 1fr;
  }

  /*FIN-INDEX*/
  /*NOSOTROS*/
  .contenedorNosotros {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.7fr 0.2fr;
  }

  /*FIN-NOSOTROS*/
  /*CONTACTO*/
  .contenedorContacto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 2.8fr 0.2fr;
  }

  /*FIN-CONTACTO*/
  .contenedorProductos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 0.2fr 1fr 0.2fr;
  }
}
/*-------- media 480px ------------*/
@media only screen and (min-width: 480px) {
  /*INDEX*/
  .contenedorIndex {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 2.6fr 1fr;
  }

  /*----------- infoprincipal INDEX -------------*/
  .tituloInfoPrincipal {
    margin-top: 5px;
  }

  .listaInfoPrincipal {
    line-height: 2.5rem;
  }

  /*-------------- galeria INDEX ------------ */
  .torta1, .torta2, .torta3 {
    margin: 5px 0px 0px 50px;
    height: 140px;
    width: 130px;
  }

  /*-------------- footer INDEX ---------------------*/
  .footerIndex {
    font-size: 18px;
  }

  /*------------ i redes sociales -----------*/
  .footerIndex i {
    font-size: 40px;
  }

  /*-------------- FIN footer INDEX ---------------------*/
  /*FIN-INDEX*/
  /*NOSOTROS*/
  /*-------------- imagen NOSOTROS ------------ */
  .tortaNosotros {
    margin-left: 120px;
  }

  /*---------- iframe google maps -----------*/
  .mapsNosotros iframe {
    margin-left: 90px;
  }

  /*----------- footer NOSOTROS ---------*/
  .footerNosotros {
    font-size: 18px;
  }

  /*------------ i redes sociales -----------*/
  .footerNosotros i {
    font-size: 40px;
  }

  /*-------------- FIN footer NOSOTROS -------------*/
  /*FIN-NOSOTROS*/
  /*PRODUCTOS*/
  .titleProductos {
    padding: 20px;
    margin: 0 20px;
  }

  .fondotitleProductos {
    width: 400px;
  }

  .testimonialText h5 {
    margin: 0 75px 15px;
  }

  .avatar {
    margin: 10px 44%;
  }

  /*-------------- footer PRODUCTOS ---------------------*/
  .footerProductos {
    font-size: 18px;
  }

  /*------------ i redes sociales -----------*/
  .footerProductos i {
    font-size: 40px;
  }

  /*-------------- FIN footer PRODUCTOS ---------------------*/
  /*FIN-PRODUCTOS*/
  /*CONTACTO*/
  #Contacto {
    margin-bottom: 25px;
  }

  .form {
    width: 350px;
  }

  .form__input {
    width: 325px;
    padding: 5px;
  }

  /*-------------- footer CONTACTO ---------------------*/
  .footerContacto {
    font-size: 18px;
  }

  /*------------ i redes sociales -----------*/
  .footerContacto i {
    font-size: 40px;
  }

  /*-------------- FIN footer CONTACTO ---------------------*/
  /*FIN-CONTACTO*/
  /*FAQS*/
  .accordion-wrapper {
    width: 400px;
  }

  /*-------------- footer FAQS ---------------------*/
  .footerFaqs {
    font-size: 18px;
  }

  /*------------ i redes sociales -----------*/
  .footerFaqs i {
    font-size: 40px;
  }

  /*-------------- FIN footer FAQS ---------------------*/
  /*FIN-FAQS*/
}
/*-------- media 600px ------------*/
@media only screen and (min-width: 600px) {
  /*INDEX*/
  .contenedorIndex {
    grid-template-rows: 0.2fr 2.8fr 1fr;
  }

  /*--------- header INDEX ---------*/
  .headerIndex h1 {
    font-size: 45px;
  }

  /*------- nav INDEX ----------*/
  .navIndex {
    margin-left: 40%;
  }

  .navIndex li {
    display: inline-block;
    margin: 25px 4px;
  }

  .navIndex li a {
    font-size: 20px;
  }

  /*------- FIN nav INDEX ----------*/
  /*--------- FIN header INDEX ---------*/
  /*----------- infoprincipal INDEX -------------*/
  .tituloInfoPrincipal {
    margin: 15px 20px;
    font-size: 24px;
  }

  .listaInfoPrincipal {
    font-size: 22px;
    line-height: 4rem;
  }

  /*-------------- galeria INDEX ------------ */
  .torta1, .torta2, .torta3 {
    margin: 10px 0px 0px 60px;
    height: 190px;
    width: 180px;
  }

  /*-------------- footer INDEX ---------------------*/
  .footerIndex {
    font-size: 22px;
  }

  /*------------ i redes sociales -----------*/
  .footerIndex i {
    font-size: 50px;
    margin-left: 70px;
    letter-spacing: 80px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosIndex {
    margin-left: 10px;
    font-size: 20px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosIndex {
    font-size: 16px;
  }

  /*-------------- FIN footer INDEX ---------------------*/
  /*FIN-INDEX*/
  /*NOSOTROS*/
  /*--------- header NOSOTROS ---------*/
  .headerNosotros h1 {
    font-size: 45px;
  }

  /*------- nav NOSOTROS ----------*/
  .navNosotros {
    margin-left: 40%;
  }

  .navNosotros li {
    display: inline-block;
    margin: 25px 4px;
  }

  .navNosotros li a {
    font-size: 20px;
  }

  /*------- fin nav ----------*/
  /*--------- FIN header NOSOTROS ---------*/
  /*----------- info NOSOTROS -------------*/
  .nosotros h2 {
    margin: 15px 20px;
    font-size: 24px;
  }

  .nosotros p {
    margin: 5px 25px;
    font-size: 22px;
  }

  /*-------------- imagen NOSOTROS ------------ */
  .tortaNosotros {
    margin: 5px 120px 15px;
    height: 260px;
    width: 350px;
  }

  /*---------- iframe google maps -----------*/
  .mapsNosotros iframe {
    margin-left: 150px;
  }

  /*----------- footer NOSOTROS ---------*/
  .footerNosotros {
    font-size: 22px;
  }

  /*------------ i redes sociales -----------*/
  .footerNosotros i {
    font-size: 50px;
    margin-left: 70px;
    letter-spacing: 80px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosNosotros {
    margin-left: 10px;
    font-size: 16px;
  }

  /*-------------- FIN footer NOSOTROS -------------*/
  /*FIN-NOSOTROS*/
  /*PRODUCTOS*/
  /*--------- header PRODUCTOS ---------*/
  .headerProductos h1 {
    font-size: 45px;
  }

  /*------- nav PRODUCTOS ----------*/
  .navProductos {
    margin-left: 40%;
  }

  .navProductos li {
    display: inline-block;
    margin: 25px 4px;
  }

  .navProductos li a {
    font-size: 20px;
  }

  /*------- FIN nav PRODUCTOS ----------*/
  /*--------- FIN header PRODUCTOS ---------*/
  .titleProductos {
    padding: 20px;
    margin: 0 20px;
  }

  .fondotitleProductos {
    width: 520px;
  }

  .testimonialText h5 {
    margin: 0 139px 15px;
  }

  .avatar {
    margin: 10px 45%;
  }

  /*-------------- footer PRODUCTOS ---------------------*/
  .footerProductos {
    font-size: 22px;
  }

  /*------------ i redes sociales -----------*/
  .footerProductos i {
    font-size: 50px;
    margin-left: 70px;
    letter-spacing: 80px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosProductos {
    margin-left: 10px;
    font-size: 20px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosProductos {
    font-size: 16px;
  }

  /*-------------- FIN footer PRODUCTOS ---------------------*/
  /*FIN-PRODUCTOS*/
  /*CONTACTO*/
  /*--------- header CONTACTO ---------*/
  .headerContacto h1 {
    font-size: 45px;
  }

  /*------- nav CONTACTO ----------*/
  .navContacto {
    margin-left: 40%;
  }

  .navContacto li {
    display: inline-block;
    margin: 25px 4px;
  }

  .navContacto li a {
    font-size: 20px;
  }

  /*------- FIN nav CONTACTO ----------*/
  /*--------- FIN header CONTACTO ---------*/
  /*-------------- footer CONTACTO ---------------------*/
  .footerContacto {
    font-size: 22px;
  }

  /*------------ i redes sociales -----------*/
  .footerContacto i {
    font-size: 50px;
    margin-left: 70px;
    letter-spacing: 80px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosContacto {
    margin-left: 10px;
    font-size: 20px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosContacto {
    font-size: 16px;
  }

  /*-------------- FIN footer CONTACTO ---------------------*/
  /*FIN-CONTACTO*/
  /*FAQS*/
  /*--------- header FAQS ---------*/
  .headerFaqs h1 {
    font-size: 45px;
  }

  /*------- nav FAQS ----------*/
  .navFaqs {
    margin-left: 40%;
  }

  .navFaqs li {
    display: inline-block;
    margin: 25px 4px;
  }

  .navFaqs li a {
    font-size: 20px;
  }

  /*------- FIN nav FAQS ----------*/
  /*--------- FIN header FAQS ---------*/
  .imgFaqs img {
    width: 400px;
    height: 300px;
  }

  /*-------------- footer FAQS ---------------------*/
  .footerFaqs {
    font-size: 22px;
  }

  /*------------ i redes sociales -----------*/
  .footerFaqs i {
    font-size: 50px;
    margin-left: 70px;
    letter-spacing: 80px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosFaqs {
    margin-left: 10px;
    font-size: 20px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosFaqs {
    font-size: 16px;
  }

  /*-------------- FIN footer FAQS ---------------------*/
  /*FIN-FAQS*/
}
/*------------------------------------- media 768px -----------------------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* RESOLUCION 768px x 1024px */
  /*INDEX*/
  .contenedorIndex {
    grid-template-rows: 0.2fr 2.8fr 0.2fr;
  }

  /*--------- header INDEX ---------*/
  .headerIndex h1 {
    font-size: 50px;
  }

  /*------- nav INDEX ----------*/
  .navIndex {
    margin-left: 40%;
  }

  .navIndex li {
    display: inline-block;
    margin: 20px 10px;
  }

  .navIndex li a {
    font-size: 24px;
  }

  /*------- FIN nav INDEX ----------*/
  /*--------- FIN header INDEX ---------*/
  /*----------- infoprincipal INDEX -------------*/
  .tituloInfoPrincipal {
    margin: 20px 20px;
    font-size: 30px;
  }

  .listaInfoPrincipal {
    margin-left: 30px;
    font-size: 28px;
    line-height: 7rem;
  }

  /*-------------- galeria INDEX ------------ */
  .torta1, .torta2, .torta3 {
    margin: 20px 0px 0px 60px;
    height: 290px;
    width: 280px;
  }

  /*-------------- footer INDEX ---------------------*/
  .footerIndex {
    font-size: 30px;
  }

  /*------------ i redes sociales -----------*/
  .footerIndex i {
    font-size: 80px;
    margin-left: 70px;
    letter-spacing: 80px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosIndex {
    margin-left: 10px;
    font-size: 28px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosIndex {
    font-size: 22px;
  }

  /*-------------- FIN footer INDEX ---------------------*/
  /*FIN-INDEX*/
  /*NOSOTROS*/
  /*--------- header NOSOTROS ---------*/
  .headerNosotros h1 {
    font-size: 50px;
  }

  /*------- nav NOSOTROS ----------*/
  .navNosotros {
    margin-left: 40%;
  }

  .navNosotros li {
    display: inline-block;
    margin: 20px 10px;
  }

  .navNosotros li a {
    font-size: 24px;
  }

  /*------- fin nav ----------*/
  /*--------- FIN header NOSOTROS ---------*/
  /*----------- info NOSOTROS -------------*/
  .nosotros h2 {
    margin: 15px 20px;
    font-size: 30px;
  }

  .nosotros p {
    margin: 15px 25px;
    font-size: 24px;
  }

  /*-------------- imagen NOSOTROS ------------ */
  .tortaNosotros {
    margin: 20px 140px 20px;
    height: 360px;
    width: 450px;
  }

  .mapsNosotros h3 {
    font-size: 30px;
  }

  /*---------- iframe google maps -----------*/
  .mapsNosotros iframe {
    height: 500px;
    width: 500px;
    margin-left: 120px;
  }

  /*----------- footer NOSOTROS ---------*/
  .footerNosotros {
    font-size: 30px;
  }

  /*------------ i redes sociales -----------*/
  .footerNosotros i {
    font-size: 80px;
    margin-left: 70px;
    letter-spacing: 80px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosNosotros {
    margin-left: 10px;
    font-size: 28px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosNosotros {
    font-size: 22px;
  }

  /*-------------- FIN footer NOSOTROS -------------*/
  /*FIN-NOSOTROS*/
  /*PRODUCTOS*/
  /*--------- header PRODUCTOS ---------*/
  .headerProductos h1 {
    font-size: 50px;
  }

  /*------- nav PRODUCTOS ----------*/
  .navProductos {
    margin-left: 40%;
  }

  .navProductos li {
    display: inline-block;
    margin: 20px 10px;
  }

  .navProductos li a {
    font-size: 24px;
  }

  /*------- FIN nav PRODUCTOS ----------*/
  /*--------- FIN header PRODUCTOS ---------*/
  .titleProductos {
    padding: 20px;
    margin: 0 60px;
  }
  .titleProductos h1 {
    font-size: 30px;
  }

  .fondotitleProductos {
    width: 600px;
    height: 55px;
  }

  .articlesProductos, .articleProductos2, h3 {
    font-size: 26px;
  }

  .articlesProductos, .articlesProductos2, h3, p {
    font-size: 22px;
  }

  .imgProd {
    width: 300px;
    height: 250px;
  }

  .testimonial h4 {
    margin: 0 0 20px;
    font-size: 28px;
  }

  .testimonialText h5 {
    width: 300px;
    height: 60px;
    margin: 0 210px 15px;
    font-size: 22px;
  }
  .testimonialText h6 {
    font-size: 20px;
  }

  .avatar {
    width: 70px;
    height: 70px;
    margin: 10px 45%;
  }

  .text1, .text2 {
    font-size: 20px;
  }

  /*-------------- footer PRODUCTOS ---------------------*/
  .footerProductos {
    font-size: 30px;
  }

  /*------------ i redes sociales -----------*/
  .footerProductos i {
    font-size: 80px;
    margin-left: 70px;
    letter-spacing: 80px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosProductos {
    margin-left: 10px;
    font-size: 28px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosProductos {
    font-size: 22px;
  }

  /*-------------- FIN footer PRODUCTOS ---------------------*/
  /*FIN-PRODUCTOS*/
  /*INICIO-CONTACTO*/
  .contenedorContacto {
    grid-template-rows: 0.2fr 2.4fr 0.2fr;
  }

  /*--------- header CONTACTO ---------*/
  .headerContacto h1 {
    font-size: 50px;
  }

  /*------- nav CONTACTO ----------*/
  .navContacto {
    margin-left: 40%;
  }

  .navContacto li {
    display: inline-block;
    margin: 20px 10px;
  }

  .navContacto li a {
    font-size: 24px;
  }

  /*------- FIN nav CONTACTO ----------*/
  /*--------- FIN header CONTACTO ---------*/
  /*--------- Formulario Contacto --------- */
  #Contacto {
    margin-bottom: 200px;
    font-size: 30px;
  }

  .form {
    width: 550px;
    margin: 15px 0;
    font-size: 24px;
  }

  .form__input {
    width: 525px;
    margin: 10px;
    padding: 15px;
    font-size: 18px;
  }

  .form textarea {
    height: 200px;
  }

  /*-------------- footer CONTACTO ---------------------*/
  .footerContacto {
    font-size: 30px;
  }

  /*------------ i redes sociales -----------*/
  .footerContacto i {
    font-size: 80px;
    margin-left: 70px;
    letter-spacing: 80px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosContacto {
    margin-left: 10px;
    font-size: 28px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosContacto {
    font-size: 22px;
  }

  /*-------------- FIN footer CONTACTO ---------------------*/
  /*FIN-CONTACTO*/
  /*FAQS*/
  /*--------- header FAQS ---------*/
  .headerFaqs h1 {
    font-size: 50px;
  }

  /*------- nav FAQS ----------*/
  .navFaqs {
    margin-left: 40%;
  }

  .navFaqs li {
    display: inline-block;
    margin: 20px 10px;
  }

  .navFaqs li a {
    font-size: 24px;
  }

  /*------- FIN nav FAQS ----------*/
  /*--------- FIN header FAQS ---------*/
  .titleFaqs {
    font-size: 28px;
  }

  .accordion-wrapper {
    width: 600px;
  }

  .accordion-label {
    font-size: 26px;
  }

  .accordion-content p {
    font-size: 24px;
  }

  .textoFaqs h3 {
    font-size: 26px;
  }

  /*-------------- footer FAQS ---------------------*/
  .footerFaqs {
    font-size: 30px;
  }

  /*------------ i redes sociales -----------*/
  .footerFaqs i {
    font-size: 80px;
    margin-left: 70px;
    letter-spacing: 80px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosFaqs {
    margin-left: 10px;
    font-size: 28px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosFaqs {
    font-size: 22px;
  }

  /*-------------- FIN footer FAQS ---------------------*/
  /*FIN-FAQS*/
}
/*------------------------------------- media 1024px -----------------------*/
@media only screen and (min-width: 1024px) {
  /*INDEX*/
  .contenedorIndex {
    grid-template-rows: 0.1fr 2fr 0.1fr;
  }

  /*--------- header INDEX ---------*/
  .headerIndex h1 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 60px;
  }

  /*------- nav INDEX ----------*/
  .navIndex {
    margin-left: 65%;
  }

  .navIndex li {
    display: inline-block;
    margin: 30px 15px;
  }

  .navIndex li a {
    font-size: 20px;
  }

  /*------- FIN nav INDEX ----------*/
  /*--------- FIN header INDEX ---------*/
  /*----------- infoprincipal INDEX -------------*/
  .tituloInfoPrincipal {
    padding: 10px;
    margin-top: 20px;
    margin-left: 15%;
    font-size: 36px;
  }

  .listaInfoPrincipal {
    margin-left: 15%;
    padding: 10px;
    font-size: 28px;
    line-height: 15rem;
  }

  /*-------------- galeria INDEX ------------ */
  .torta1, .torta2, .torta3 {
    margin: 40px 0px 20px 140px;
    height: 450px;
    width: 370px;
  }

  /*-------------- footer INDEX ---------------------*/
  .footerIndex {
    font-size: 36px;
  }

  /*------------ i redes sociales -----------*/
  .footerIndex i {
    margin-left: 100px;
    font-size: 70px;
    letter-spacing: 100px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosIndex {
    font-size: 26px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosIndex {
    font-size: 16px;
  }

  /*-------------- FIN footer INDEX ---------------------*/
  /*FIN-INDEX*/
  /*NOSOTROS*/
  /*--------- header NOSOTROS ---------*/
  .headerNosotros h1 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 60px;
  }

  /*------- nav NOSOTROS ----------*/
  .navNosotros {
    margin-left: 65%;
  }

  .navNosotros li {
    display: inline-block;
    margin: 30px 15px;
  }

  .navNosotros li a {
    font-size: 20px;
  }

  /*------- fin nav ----------*/
  /*--------- FIN header NOSOTROS ---------*/
  /*----------- info NOSOTROS -------------*/
  .nosotros h2 {
    margin: 15px 20px;
    font-size: 36px;
  }

  .nosotros p {
    margin: 15px 25px;
    font-size: 28px;
  }

  /*-------------- imagen NOSOTROS ------------ */
  .tortaNosotros {
    margin: 20px 30% 20px;
    height: 400px;
    width: 540px;
  }

  .mapsNosotros h3 {
    font-size: 34px;
  }

  /*---------- iframe google maps -----------*/
  .mapsNosotros iframe {
    height: 400px;
    width: 600px;
    margin-left: 28%;
  }

  /*----------- footer NOSOTROS ---------*/
  .footerNosotros {
    font-size: 36px;
  }

  /*------------ i redes sociales -----------*/
  .footerNosotros i {
    margin-left: 100px;
    font-size: 70px;
    letter-spacing: 100px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosNosotros {
    font-size: 26px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosNosotros {
    font-size: 16px;
  }

  /*-------------- FIN footer NOSOTROS -------------*/
  /*FIN-NOSOTROS*/
  /*PRODUCTOS*/
  /*--- GRIDS Productos ---- */
  /*- columnas y filas Productos -*/
  /*--------- header PRODUCTOS ---------*/
  .headerProductos h1 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 60px;
  }

  /*------- nav PRODUCTOS ----------*/
  .navProductos {
    margin-left: 65%;
  }

  .navProductos li {
    display: inline-block;
    margin: 30px 15px;
  }

  .navProductos li a {
    font-size: 20px;
  }

  /*------- FIN nav PRODUCTOS ----------*/
  /*--------- FIN header PRODUCTOS ---------*/
  .titleProductos {
    padding: 40px;
    margin: 0 250px;
  }
  .titleProductos h1 {
    font-size: 32px;
    text-align: center;
  }

  .fondotitleProductos {
    width: 750px;
    height: 60px;
  }

  .articlesProductos, .articleProductos2, h3 {
    font-size: 26px;
  }

  .articlesProductos, .articlesProductos2, h3, p {
    margin: 10px;
    font-size: 22px;
  }

  .imgProd {
    width: 300px;
    height: 250px;
    margin: 0 0px 0 40px;
  }

  .testimonial h4 {
    margin: 0 0 20px;
    font-size: 28px;
  }

  .testimonialText h5 {
    width: 300px;
    height: 60px;
    margin: 0 500px 15px;
    font-size: 22px;
  }
  .testimonialText h6 {
    font-size: 20px;
  }

  .avatar {
    width: 70px;
    height: 70px;
    margin: 10px 47.5%;
  }

  .text1, .text2 {
    font-size: 20px;
  }

  /*-------------- footer PRODUCTOS ---------------------*/
  .footerProductos {
    font-size: 36px;
  }

  /*------------ i redes sociales -----------*/
  .footerProductos i {
    margin-left: 100px;
    font-size: 70px;
    letter-spacing: 100px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosProductos {
    font-size: 26px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosProductos {
    font-size: 16px;
  }

  /*-------------- FIN footer PRODUCTOS ---------------------*/
  /*FIN-PRODUCTOS*/
  /*CONTACTO*/
  /*--------- header CONTACTO ---------*/
  .headerContacto h1 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 60px;
  }

  /*------- nav CONTACTO ----------*/
  .navContacto {
    margin-left: 65%;
  }

  .navContacto li {
    display: inline-block;
    margin: 30px 15px;
  }

  .navContacto li a {
    font-size: 20px;
  }

  /*------- FIN nav CONTACTO ----------*/
  /*--------- FIN header CONTACTO ---------*/
  /*--------- Formulario Contacto --------- */
  #Contacto {
    font-size: 34px;
  }

  .form {
    width: 550px;
    margin: 0px;
    font-size: 24px;
  }

  .form__input {
    width: 525px;
    margin: 0px;
    padding: 5px;
    font-size: 18px;
  }

  .form textarea {
    height: 100px;
  }

  /*-------------- footer CONTACTO ---------------------*/
  .footerContacto {
    font-size: 36px;
  }

  /*------------ i redes sociales -----------*/
  .footerContacto i {
    margin-left: 100px;
    font-size: 70px;
    letter-spacing: 100px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosContacto {
    font-size: 26px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosContacto {
    font-size: 16px;
  }

  /*-------------- FIN footer CONTACTO ---------------------*/
  /*FIN-CONTACTO*/
  /*FAQS*/
  /*--------- header FAQS ---------*/
  .headerFaqs h1 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 60px;
  }

  /*------- nav FAQS ----------*/
  .navFaqs {
    margin-left: 65%;
  }

  .navFaqs li {
    display: inline-block;
    margin: 30px 15px;
  }

  .navFaqs li a {
    font-size: 20px;
  }

  /*------- FIN navFAQSS ----------*/
  /*--------- FIN header FAQS ---------*/
  .titleFaqs {
    font-size: 28px;
  }

  .accordion-wrapper {
    width: 700px;
  }

  /*-------------- footer FAQS ---------------------*/
  .footerFaqs {
    font-size: 36px;
  }

  /*------------ i redes sociales -----------*/
  .footerFaqs i {
    margin-left: 100px;
    font-size: 70px;
    letter-spacing: 100px;
  }

  /*-------------- datos del servicio -------------*/
  .footerdatosFaqs {
    font-size: 26px;
  }

  /*--------------- derechos de copyright ------------*/
  .footerderechosFaqs {
    font-size: 16px;
  }

  /*-------------- FIN footer FAQS ---------------------*/
  /*FIN-FAQS*/
}/*# sourceMappingURL=styles.css.map */